.sprite {
  background-image: url("/sprite/sheet.png");
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 384px 624px; /* 3배 확대된 전체 스프라이트 이미지의 크기 */
}

.sprite-tile-grass-hole {
  width: 96px; /* 원본 타일 크기의 3배 */
  height: 96px; /* 원본 타일 크기의 3배 */
  background-position: 0 0; /* 확대되지 않았으므로 위치 조정 필요 없음 */
}

.sprite-tile-grass {
  width: 48px; /* 원본 타일 크기의 3배 */
  height: 48px; /* 원본 타일 크기의 3배 */
  background-position: -240px -240px; /* 확대된 스프라이트 이미지에서의 새로운 타일 위치 */
}
